.pokeList {
  width: 90vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 
      0 0 100px rgba(0,0,0,0.8),
      inset 0 0 50px rgba(0,0,0,0.3);
}